$color: white;
$color1: black;
$color2: rgb(36, 63, 97);
$color3: rgb(232, 139, 17);
$color4: rgb(4, 23, 36); //color de .navbar

#logo {
    transform: rotateX(0deg);
    transition: 3.5s;
}

#logo:hover {
    transform: rotateX(360deg);
}

.navbar{
    background-image: linear-gradient(to right top, #000000, #0c070a, #120e14, #15141b, #151a23, #141d27, #12202b, #0f232e, #0d232f, #0b2430, #082432, #062433);
}

.nav-link{
    color: $color;
}

.nav-link:hover{
    color: rgb(227, 46, 46)!important;
    text-decoration: underline;
}

.lupa i{
    color: $color;
}

.jumbotron{
    background-color: #ceecef;
    display: flex;
    justify-content: center;
    font-family: 'Prompt', sans-serif;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.jumbotron h1 a{
    color: $color1;
    text-shadow: 0 0 5px $color3, 0 0 5px $color3;
    text-decoration: none;
}

.jumbotron a:hover{
    color: #abdecb;
    text-shadow: 0 0 5px #9c1515, 0 0 5px #9c1515;
    text-decoration: underline;
    filter: brightness(1.5);
    transition: color 0.2s, border-bottom 0.2s;
}

h2{
    background-image: linear-gradient(to top, #091e47, #0b224e, #0c2755, #0e2b5c, #0f3063, #0a3466, #053768, #013b6b, #003e69, #004066, #024262, #0c445f);
    color: $color3;
    text-transform: uppercase;
    padding: 20px;
    margin: 0;
    text-decoration: underline;
}

.card-body{
    //background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
}

.banner{
    background-image: linear-gradient(to top, #091e47, #0b224e, #0c2755, #0e2b5c, #0f3063, #0a3466, #053768, #013b6b, #003e69, #004066, #024262, #0c445f);
    color: $color3;
    text-transform: uppercase;
    padding: 20px;
    margin: 0;
    text-decoration: underline;
}

p{
    color: $color;
    text-align: center;
}

.img-fluid{
    padding: 20px;
}

section{
    background-image: linear-gradient(to bottom, #091e47, #0b224e, #0c2755, #0e2b5c, #0f3063, #0a3466, #053768, #013b6b, #003e69,  #004066, #024262, #0c445f);
}

.original-price{
    text-decoration: line-through !important;
}

.carousel{
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 400px !important;
    display: flex;
    background-size: cover;
    background-position: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    margin: 0 auto;
}

.carousel-indicators {
    bottom: -15px;
}

footer{
    background-color: #e7edea;
    text-align: center;
    color: $color1;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 0%;
}

footer img{
    margin-right: 30px;
    text-align: center;
    margin-top: auto;
    transition: transform 0.3s;
}

.social-link:hover img{
    transform: scale(1.1);
}

.footer p{
    color: $color1;
    padding: 30px;
    margin: 0%;
}

@media only screen and (min-width: 0) and (max-width:576px){
    .navbar-collapse{
        background-color: $color4;
        display: flex;
        justify-content: right;
    }
    section{
        background-color: $color2;
    }
    .carousel{
        max-width: 100%;
        margin: 0;
        padding: 0;
        height: 165px !important;
        display: flex;
        background-size: cover;
        background-position: center;
        margin-bottom: 0 !important;
    }
    .carousel-item img{
        max-height: 165px;
    }
    .carousel-indicators{
        bottom: -20px;
    }
    .footer{
        margin-top: 0 !important;
        padding: 1px 0;
    }
    footer img{
        margin-right: 30px;
        text-align: center;
        margin-top: 20px;
    }
}
